.App {
  min-height: 100vh;
  background-color: #ececec;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

